<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- PostgreSQL connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">my_user_db</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/my_test_db</property>



        <!-- SQL dialect for PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL in logs -->
        <property name="hibernate.show_sql">true</property>

        <!-- Create the database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify annotated class -->
        <mapping class="Model.User"/>
        <mapping class="Model.BankAccount"/>


    </session-factory>
</hibernate-configuration>