<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Полностью отключаем логи Hibernate -->
    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql" level="OFF"/>
    <logger name="org.hibernate.stat" level="OFF"/>

    <!-- Настройки для вашего приложения -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>